{% load form_enhancements_tags %}

    <form class="form-horizontal" role="form" action="{{ url }}" method="post">
        <h1>{{ title }}</h1>
                {% csrf_token %}
                {% if form.name.errors %}
                    <div class="form-group has-error form-group-lg">
                {% else %}
                    <div class="form-group form-group-lg">
                {% endif %}
                    <label for="id_name" class="col-sm-2  col-md-2 col-lg-2 control-label">Name</label>
                    <div class="col-sm-6  col-md-6 col-lg-6">
                        {{ form.name|addcss:'form-control'}}

                        <span class="help-block error">{{ form.name.errors }}</span>
                    </div>
                </div>

                {% if form.age.errors %}
                    <div class="form-group has-error form-group-lg">
                {% else %}
                    <div class="form-group form-group-lg">
                {% endif %}
                    <label for="id_age"  class="col-sm-2  col-md-2 col-lg-2 control-label" form-group-lg>Age</label>
                    <div class="col-sm-6  col-md-6 col-lg-6">
                         {{ form.age|addcss:'form-control'}}
                        <span class="help-block error">{{ form.age.errors }}</span>

                    </div>
                </div>

                {% if form.public.errors %}
                    <div class="form-group has-error form-group-lg">
                {% else %}
                    <div class="form-group form-group-lg">
                {% endif %}
                                   <label for="id_public"  class="col-sm-2  col-md-2 col-lg-2 control-label" form-group-lg>Public</label>
                    <div class="col-sm-1  col-md-1 col-lg-1 pull-left">
                        {{ form.public|addcss:'form-control'}}
                        <span class="help-block error">{{ form.public.errors }}</span>
                    </div>
                </div>

                {% if form.category.errors %}
                    <div class="form-group has-error form-group-lg">
                {% else %}
                    <div class="form-group form-group-lg">
                {% endif %}
                                   <label for="id_category" class="col-sm-2  col-md-2 col-lg-2 control-label" form-group-lg>Category:</label>
                    <div class="col-sm-6  col-md-6 col-lg-6">
                        <select id="id_category" name="category" class="form-control">
                            {%  for opt in categories %}
                                <option value="{{ opt.id }}">{{ opt.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-md-8 col-lg-8  pull-right">
                        <input class="bg-primary btn-lg" type="submit" value="Submit" />
                    </div>
                </div>
    </form>