{%  extends "contacts/main.html" %}
{% load staticfiles %}

{% block header_files %}
<link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

    <div class = "jumbotron">
    <div class = "container">

      <h1>Welcome to landing page!</h1>
      <p>This is an example for jumbotron.</p>

      <p>
         <a href="/contacts/new" class = "btn btn-primary btn-lg" role = "button">Create Contact !</a>
      </p>
   </div>

</div>

    <hr>
    {% for contact in contacts %}
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?fit=crop&fm=jpg&q=75&w=1250" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{contact.name}}</h4>
                        <small><cite>{{ contact.location}}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{contact.email_address}}
                            <br />
                            <i class="glyphicon glyphicon-phone"></i><a href="">{{contact.phone_number}}</a>
                            <br />
                            <i class="glyphicon glyphicon-apple"></i><a href="">{{contact.category.name}}</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>{{contact.gender}}</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/contacts/{{ contact.id }}/show">Show</a></li>
                                <li><a href="/contacts/{{ contact.id }}/edit">Edit</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Download</a></li>
                                <li class="divider"></li>
                                <li><a href="/contacts/{{ contact.id }}/delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<br/>
<a href="/contacts/new">New Contact</a> | <a href="/contacts/my_contacts">My Contacts</a>


{% endblock %}