{%  extends "contacts/main.html" %}
{% load staticfiles %}

{% block header_files %}
<link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <ul>
                    <li>{{ message|safe }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}

    <div class = "jumbotron">
    <div class = "container">

      <h1>Welcome to landing page!</h1>
      <p>This is an example for jumbotron.</p>

      <p>
         <a href="/contacts/new" class = "btn btn-primary btn-lg" role = "button">Create Contact !</a>
      </p>
   </div>

</div>

    <hr>
    {% for contact in contacts %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2">
                <div class="well well-sm">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-body p-t-10">
                                    <div class="media-main">
                                        <a class="pull-left" href="#">
                                            <img class="thumb-lg img-circle bx-s" src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                                        </a>
                                        <div class="pull-right btn-group-sm">
                                            <a href="/contacts/{{ contact.id }}/edit" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="/contacts/{{ contact.id }}/show" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h4>{{ contact.name }}</h4>
                                            <p class="text-muted">{{ contact.email_address }}</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <ul class="social-links list-inline p-b-10">
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

<br/>

<div>
<div class="col-md-4"></div>
<div class="col-md-4">
<a href="/contacts/new">New Contact</a> | <a href="/contacts/my_contacts">My Contacts</a>
</div>
<div class="col-md-4"></div>
</div>

{% endblock %}