{%  extends "contacts/main.html" %}
{% load staticfiles %}
<title>Contact Create</title>


{% block header_files %}
    <link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% include "contacts/contact_form.html" with form=form categories=categories %}
{% endblock %}
