{%  extends "contacts/main.html" %}
{% load staticfiles %}
    <title>Contact Create</title>


{% block header_files %}
<link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
{% if messages %}
<h2>Create Contact</h2>
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Create Contact</h1>
  <form class="form-horizontal" role="form" action="/contacts/new" method="post">
    {% csrf_token %}


    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


<br/>


{% endblock %}