{%  extends "contacts/main.html" %}
{% load staticfiles %}

{% block title %}

    Viewing {{ contact.name }}

{% endblock %}



{% block header_files %}
    <link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <h2>{{ contact.name }}</h2>
                                <p><strong>Gender: </strong>{{ contact.gender }}</p>
                                <p><strong>Location: </strong> {{ contact.location }}</p>
                                <p><strong>Tag: </strong>
                                    <span class="label label-info tags">html5</span>
                                    <span class="label label-info tags">css3</span>
                                    <span class="label label-info tags">jquery</span>
                                    <span class="label label-info tags">bootstrap3</span>
                                </p>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-4 text-center">
                                <img src="{% static 'custom/images/contact_image.jpg' %}"  alt="" class="center-block img-circle img-responsive" />
                                <ul class="list-inline ratings text-center" title="Ratings">
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                            </div><!--/col-->

                            <div class="col-xs-12 col-sm-4">
                                <h2><strong> {{ contact.phone_number }} </strong></h2>
                                <p><small>Phone</small></p>
                                <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Phone </button>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-4">
                                <h2><strong>245</strong></h2>
                                <p><small>Following</small></p>
                                <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-4">
                                <h2><strong>43</strong></h2>
                                <p><small>Snippets</small></p>
                                <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                            </div><!--/col-->
                        </div><!--/row-->
                    </div><!--/panel-body-->
                </div><!--/panel-->



            </div>
        </div>
    </div>


    <a href="/contacts/">Back</a> | <a href="/contacts/{{ contact.id }}/edit">Edit</a>


{% endblock %}