{%  extends "contacts/main.html" %}
{% load staticfiles %}

{% block title %}

    Viewing {{ contact.name }}

{% endblock %}



{% block header_files %}
    <link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

<table>
    <tr>
        <td><b>Name:</b></td>
        <td>{{contact.name}}</td>
    </tr>
    <tr>
        <td><b>Age:</b></td>
        <td>{{contact.age}}</td>
    </tr>
</table>

<a href="/contacts/">Back</a> | <a href="/contacts/{{ contact.id }}/edit">Edit</a>


{% endblock %}