{%  extends "contacts/main.html" %}
{% load staticfiles %}

{% block header_files %}
<link href="{% static 'custom/css/common.css' %}"
          rel="stylesheet" media="screen">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

      <p>
         <a href="/categories/new" class = "btn btn-primary btn-lg" role = "button">Add A category !</a>
      </p>
    {% for category in object_list %}
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td><a href="{{category.get_absolute_url}}">Show</a></td>
            <td><a href="/categories/{{ category.id }}/update">Edit</a></td>
        </tr>

    {% endfor %}
    </table>

{% endblock %}